.btn-social-facebook, .btn-social-google, .btn-send {
  border:none;
  position:relative;
  margin: 5px;
  text-align: left;
  width: 100%;
  text-align: left;
}

.btn-send {
  text-align: center;
  margin-top: 20px;
  background-color: #093ea8;
  padding:5px;
  border-radius: 5px;
  color: #fff;
}
.btn-social-google {
  border-radius: 15px;
  background-color: #EA4335;
}
.btn-social-facebook {
  border-radius: 15px;
  background-color: #0165E1;
}

.social-icon {
  float: left;
  font-size: 25px;

  padding-right: 7.5px;
}