.modal-backdrop {
  background: rgb(43, 43, 43, .7);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  
}

.modal-container {
  padding: 25px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #1e1e1e;
  display: inline-block;
  min-width: 350px;
  align-items: center;
  position: relative;
}
@media (min-width: 600px) {
  .modal-container {
    margin: 3rem;
  }
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.close div {
  position: absolute;
  height: 1.5rem;
  width: 3px;
  background: #000;
  border-radius: 10px;
  right: 50%;
  left: 50%;
}

.close div:first-child {
  transform: rotate(45deg);
}

.close div:last-child {
  transform: rotate(-45deg);
}

